body {
  font-family: Trirong;
  text-shadow: 3px 3px 3px  rgba(27, 1, 94, 0.473);
  background-image: url("https://wallpaperaccess.com/full/51359.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  color: rgb(252, 223, 165);
}

div {
  text-align: center;
  font-size: 50pt
}

h2 {
  font-family: cursive;
  background-color: rgb(252, 223, 165);
  color: lightblue;
  text-align: center;
  font-size: xx-large;
}

h3 {
  font-family: fantasy;
  background-color: rgb(252, 223, 165);
  color: darkblue;
  text-align: center;
  font-size: xx-large;
}

h4 {
  font-family: fantasy;
  background-color: rgb(252, 223, 165);
  color: darkblue;
  text-align: center;
  font-size: xx-large;
}
