div.item {
	min-width: 200px;
	width: 20%;
	height: 450px;
	background-color: antiquewhite ;
  float: left;
	margin: 15px;
	padding: 15px;
	position: relative;
  border: 2px solid black;
  border-radius: 10px;
}

#tennisDataContainer div.item {
  background-color: lemonchiffon;
}

#bookDataContainer div.item {
  background-color: mistyrose ;
}

#tennisDataContainer {
  display: none;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div.item button.edit {
	right: 70px;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}